<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <!-- Google AdSense verification -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4252008174002764"
        crossorigin="anonymous"></script>
</head>

<body>
    <header class="site-header">
        <div class="wrapper">
            <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
            {% include navigation.html %}
        </div>
    </header>

    <main class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
</body>
<!-- Inside the footer or sidebar of your layout -->
<div style="text-align:center; padding-top: 10px;">
    <img
        src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url={{ page.url | uri_escape }}&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=visits&edge_flat=false" />
</div>

</html>